PV_SYSTEM_INIT_MODE=appengine
PV_BOOTLOADER_TYPE=uboot
PV_STORAGE_DEVICE=LABEL=root
PV_STORAGE_FSTYPE=ext4
PV_WDT_MODE=shutdown
PV_LOG_LEVEL=4
PV_LOG_SERVER_OUTPUTS=filetree
PV_SECUREBOOT_HANDLERS=0
PV_STORAGE_MNTPOINT=/storage
PV_SYSTEM_LIBDIR=/usr/lib/pv
PV_SYSTEM_ETCDIR=/etc
PV_SYSTEM_USRDIR=/usr
PV_SYSTEM_RUNDIR=/pv
PV_SYSTEM_MEDIADIR=/media
PV_SYSTEM_CONFDIR=/configs
PV_DROPBEAR_CACHE_DIR=/storage/cache/dropbear
PV_CACHE_USRMETADIR=/storage/cache/usrmeta
PV_CACHE_DEVMETADIR=/storage/cache/devmeta
PV_LIBTHTTP_CERTSDIR=/certs
PV_DISK_VOLDIR=/volumes
PV_DISK_EXPORTSDIR=/exports
PV_DISK_WRITABLEDIR=/writable
PV_LOG_DIR=/storage/logs
PV_DEBUG_SHELL=1
PV_OEM_NAME=pv-oem-developer-001
