PV_SYSTEM_INIT_MODE=embedded
PV_BOOTLOADER_TYPE=efiab
PV_STORAGE_DEVICE=LABEL=root
PV_STORAGE_FSTYPE=ext4
PV_STORAGE_OPTS=
PV_WDT_MODE=shutdown
PV_LOG_LEVEL=4
PV_LOG_SERVER_OUTPUTS=filetree,stdout
PV_SECUREBOOT_HANDLERS=0
PV_STORAGE_MNTPOINT=/storage
PV_SYSTEM_LIBDIR=/usr/lib/pantavisor
PV_SYSTEM_ETCDIR=/etc
PV_SYSTEM_USRDIR=/usr
PV_SYSTEM_RUNDIR=/var/run/pantavisor/pv
PV_SYSTEM_MEDIADIR=/var/run/pv/media
PV_SYSTEM_CONFDIR=/var/run/pv/configs
PV_DROPBEAR_CACHE_DIR=/storage/cache/dropbear
PV_CACHE_USRMETADIR=/storage/cache/usrmeta
PV_CACHE_DEVMETADIR=/storage/cache/devmeta
PV_LIBTHTTP_CERTSDIR=/etc/thttp/certs
PV_DISK_VOLDIR=/volumes
PV_DISK_EXPORTSDIR=/exports
PV_DISK_WRITABLEDIR=/var/run/pv/writable
PV_LOG_DIR=/storage/logs
PV_LOG_CAPTURE_DMESG=1
PV_OEM_NAME=pv-oem-developer-001
