header:
    version: 16
_source_dir: .
repos:
    meta-freescale:
        commit: 7d83a350d8b28498321a481a2a1c51bb4afb48e9
        path: layers/meta-freescale
        url: https://github.com/Freescale/meta-freescale.git
    meta-freescale-3rdparty:
        commit: 70c83e96c7f75e73245cb77f1b0cada9ed4bbc6d
        path: layers/meta-freescale-3rdparty
        url: https://github.com/Freescale/meta-freescale-3rdparty.git
    meta-freescale-distro:
        commit: b9d6a5d9931922558046d230c1f5f4ef6ee72345
        path: layers/meta-freescale-distro
        url: https://github.com/Freescale/meta-freescale-distro.git
    meta-toradex-bsp-common:
        branch: scarthgap-7.x.y
        commit: 8ca6492e748fafda97d1c34a2ff94e70ff37506f
        patches:
            add-marketing-png-image:
                path: patches/meta-toradex-bsp-common/0002-add-marketing-png-image.patch
                repo: meta-pantavisor
            add-readme-to-tezi:
                path: patches/meta-toradex-bsp-common/0003-add-README.md-to-tezi.patch
                repo: meta-pantavisor
            support-pvboot-on-tezi:
                path: patches/meta-toradex-bsp-common/0001-support-pvboot-on-tezi.patch
                repo: meta-pantavisor
        path: layers/meta-toradex-bsp-common
        url: https://git.toradex.com/meta-toradex-bsp-common.git
    meta-toradex-nxp:
        branch: scarthgap-7.x.y
        commit: 342f8679e6ee0dbf321f6542fc4bf061f6764272
        patches:
            pv-formated-tezi:
                path: patches/meta-toradex-nxp/0001-support-to-pv_tezi.patch
                repo: meta-pantavisor
        path: layers/meta-toradex-nxp
        url: https://git.toradex.com/meta-toradex-nxp.git
    poky:
        patches:
            fit-image-multiconfig:
                path: patches/poky/0001-fit-image-multiconfig.scarthgap.patch
                repo: meta-pantavisor
            update-rc-initscripts:
                path: patches/poky/update-rc.patch
                repo: meta-pantavisor
        url: https://github.com/yoctoproject/poky.git
        path: layers/poky
        layers:
            meta:
            meta-poky:
        commit: 9497778a4d756daa29c4fa8d45d1a242d63ab8cc
    meta-pantavisor:
    meta-virtualization:
        commit: 17ac21e7d7f6f40a87618b22278b63bcfa14dbf2
        path: layers/meta-virtualization
        url: git://git.yoctoproject.org/meta-virtualization
    meta-openembedded:
        commit: 7ed4330bcf1ecd4aa34bfbe1fd7079381b62b1e7
        layers:
            meta-filesystems:
            meta-networking:
            meta-oe:
            meta-python:
        path: layers/meta-openembedded
        url: https://github.com/openembedded/meta-openembedded.git
local_conf_header:
    platform-freescale: |
        ACCEPT_FSL_EULA = "1"
    platform-toradex: |
        PV_UBOOT_AUTOFDT = "1"
    platform-colibri-imx6ull: |
        include conf/machine/include/colibri-imx6ull.inc
    rm_work: |
        INHERIT += "rm_work"
    package_management: |
        PACKAGE_CLASSES = "package_rpm"
    panta-base: |
        TMPDIR = "${TOPDIR}/tmp-${DISTRO_CODENAME}"
    pantavisor-system: |
        DISTRO_FEATURES:append = " pantavisor-system "
        PANTAVISOR_FEATURES:append = " dm-crypt"
        PANTAVISOR_FEATURES:append = " dm-verity"
        PANTAVISOR_FEATURES:append = " autogrow"
        INITRAMFS_IMAGE = "pantavisor-initramfs"
    pantavisor-runc: |
        PANTAVISOR_FEATURES:append = " runc"
    pantavisor-tailscale: |
        PANTAVISOR_FEATURES:append = " tailscale"
    pantavisor-debug: |
        PANTAVISOR_FEATURES:append = " debug"
    __menu_config_locals: ''
    __menu_config_vars: |-
        PVROOT_IMAGE = "yes"
        PVROOT_IMAGE_BSP = "core-image-base"
        EXTRA_IMAGE_FEATURES:append = " debug-tweaks"
        INHERIT += "rm_work"
machine: colibri-imx6ull
defaults:
    repos:
        branch: scarthgap
target:
- pantavisor-starter
build_system: oe
distro: panta-distro
env:
    PVROOT_IMAGE_BSP:
    PV_BOOT_OEMARGS:
