header:
    version: 16
_source_dir: .
repos:
    meta-freescale:
        commit: 7286bef07802fc493894c5917a315d53c8fe2191
        path: layers/meta-freescale
        url: https://github.com/Freescale/meta-freescale.git
    meta-freescale-3rdparty:
        commit: 48516272d97f9415e0ee3ab54a923e4c40143e69
        path: layers/meta-freescale-3rdparty
        url: https://github.com/Freescale/meta-freescale-3rdparty.git
    meta-freescale-distro:
        commit: d5bbb487b2816dfc74984a78b67f7361ce404253
        path: layers/meta-freescale-distro
        url: https://github.com/Freescale/meta-freescale-distro.git
    meta-openembedded:
        layers:
            meta-multimedia:
            meta-filesystems:
            meta-networking:
            meta-oe:
            meta-python:
        url: https://github.com/openembedded/meta-openembedded.git
        path: layers/meta-openembedded
        commit: 96fbc156364fd78530d2bfbe1b8a77789f52997d
    meta-imx:
        url: https://github.com/nxp-imx/meta-imx.git
        path: layers/meta-imx
        patches:
            qa-issue-fix:
                path: patches/meta-imx/0001-firmware-nxp-wifi-Fix-QA-issue.patch
                repo: meta-pantavisor
        branch: scarthgap-6.6.52-2.2.0
        layers:
            meta-imx-bsp:
            meta-imx-ml:
            meta-imx-sdk:
        commit: a0cf309d2e2d544111e520f572db8dff335eca01
    meta-arm:
        commit: 10c27f061b22af78e17a23cf540b69501afc7160
        layers:
            meta-arm:
            meta-arm-toolchain:
        path: layers/meta-arm
        url: git://git.yoctoproject.org/meta-arm
    meta-pantavisor:
    poky:
        url: https://github.com/yoctoproject/poky.git
        path: layers/poky
        layers:
            meta:
            meta-poky:
        patches:
            fit-image-multiconfig:
                path: patches/poky/0001-fit-image-multiconfig.patch
                repo: meta-pantavisor
        commit: 04b39e5b7eb19498215d85c88a5fffb460fea1eb
    meta-virtualization:
        commit: 16155ae737d96f0f53721ad7270c3fe19729d496
        path: layers/meta-virtualization
        url: git://git.yoctoproject.org/meta-virtualization
local_conf_header:
    platform-freescale: |
        ACCEPT_FSL_EULA = "1"
    platform-nxp: |
        PV_UBOOT_AUTOFDT = "1"
        PV_UBOOT_FLATFDT = "1"
        VIRTUAL-RUNTIME_initscripts = "initscripts-pv"
        PREFERRED_RPROVIDER_initd-functions = "initscripts-pv"
        EXTRA_IMAGE_FEATURES = "debug-tweaks"
        PANTAVISOR_MACHINE_FIRMWARE = ""
        PANTAVISOR_MACHINE_KERNEL_MODULES = ""
        PREFERRED_PROVIDER_virtual/kernel = "linux-imx"
    rm_work: |
        INHERIT += "rm_work"
    package_management: |
        PACKAGE_CLASSES = "package_rpm"
    panta-base: |
        TMPDIR = "${TOPDIR}/tmp-${DISTRO_CODENAME}"
    pantavisor-system: |
        DISTRO_FEATURES:append = " pantavisor-system "
        PANTAVISOR_FEATURES:append = " dm-crypt"
        PANTAVISOR_FEATURES:append = " dm-verity"
        PANTAVISOR_FEATURES:append = " autogrow"
        INITRAMFS_IMAGE = "pantavisor-initramfs"
    pantavisor-runc: |
        PANTAVISOR_FEATURES:append = " runc"
    pantavisor-tailscale: |
        PANTAVISOR_FEATURES:append = " tailscale"
    pantavisor-debug: |
        PANTAVISOR_FEATURES:append = " debug"
    __menu_config_locals: ''
    __menu_config_vars: |-
        PVROOT_IMAGE = "yes"
        PVROOT_IMAGE_BSP = "core-image-base"
        EXTRA_IMAGE_FEATURES:append = " debug-tweaks"
        INHERIT += "rm_work"
bblayers_conf_header:
    platform-nxp: |
        BBMASK += "meta-imx/meta-bsp/recipes-bsp/firmware-imx/firmware-imx.*"
        BBMASK += "meta-imx/meta-imx-bsp/recipes-bsp/firmware-imx/firmware-imx.*"
machine: imx8qxp-b0-mek
target:
- pantavisor-remix
build_system: oe
distro: panta-distro
env:
    PVROOT_IMAGE_BSP:
    PV_BOOT_OEMARGS:
defaults:
    repos:
        branch: kirkstone
