header:
    version: 16
_source_dir: .
repos:
    meta-freescale:
        commit: 7d83a350d8b28498321a481a2a1c51bb4afb48e9
        path: layers/meta-freescale
        url: https://github.com/Freescale/meta-freescale.git
    meta-freescale-3rdparty:
        commit: 70c83e96c7f75e73245cb77f1b0cada9ed4bbc6d
        path: layers/meta-freescale-3rdparty
        url: https://github.com/Freescale/meta-freescale-3rdparty.git
    meta-freescale-distro:
        commit: b9d6a5d9931922558046d230c1f5f4ef6ee72345
        path: layers/meta-freescale-distro
        url: https://github.com/Freescale/meta-freescale-distro.git
    meta-openembedded:
        layers:
            meta-multimedia:
            meta-filesystems:
            meta-networking:
            meta-oe:
            meta-python:
        url: https://github.com/openembedded/meta-openembedded.git
        path: layers/meta-openembedded
        commit: 89a01c3d9ad1f8fce6aeb4dd0e694cfa28d42099
    meta-imx:
        url: https://github.com/nxp-imx/meta-imx.git
        path: layers/meta-imx
        patches:
            qa-issue-fix:
                path: patches/meta-imx/0001-firmware-nxp-wifi-Fix-QA-issue.patch
                repo: meta-pantavisor
        branch: scarthgap-6.6.52-2.2.0
        layers:
            meta-imx-bsp:
            meta-imx-ml:
            meta-imx-sdk:
        commit: a0cf309d2e2d544111e520f572db8dff335eca01
    meta-arm:
        commit: a81c19915b5b9e71ed394032e9a50fd06919e1cd
        layers:
            meta-arm:
            meta-arm-toolchain:
        path: layers/meta-arm
        url: git://git.yoctoproject.org/meta-arm
    poky:
        patches:
            fit-image-multiconfig:
                path: patches/poky/0001-fit-image-multiconfig.scarthgap.patch
                repo: meta-pantavisor
            update-rc-initscripts:
                path: patches/poky/update-rc.patch
                repo: meta-pantavisor
        url: https://github.com/yoctoproject/poky.git
        path: layers/poky
        layers:
            meta:
            meta-poky:
        commit: e6bfeed8f3e72c577820e3d01f7d697c4d3fc5d4
    meta-pantavisor:
    meta-virtualization:
        commit: 17ac21e7d7f6f40a87618b22278b63bcfa14dbf2
        path: layers/meta-virtualization
        url: git://git.yoctoproject.org/meta-virtualization
local_conf_header:
    platform-freescale: |
        ACCEPT_FSL_EULA = "1"
    platform-nxp: |
        PV_UBOOT_AUTOFDT = "1"
        PV_UBOOT_FLATFDT = "1"
        VIRTUAL-RUNTIME_initscripts = "initscripts-pv"
        PREFERRED_RPROVIDER_initd-functions = "initscripts-pv"
        EXTRA_IMAGE_FEATURES = "debug-tweaks"
        PANTAVISOR_MACHINE_FIRMWARE = ""
        PANTAVISOR_MACHINE_KERNEL_MODULES = ""
        PREFERRED_PROVIDER_virtual/kernel = "linux-imx"
    rm_work: |
        INHERIT += "rm_work"
    package_management: |
        PACKAGE_CLASSES = "package_rpm"
    panta-base: |
        TMPDIR = "${TOPDIR}/tmp-${DISTRO_CODENAME}"
    pantavisor-system: |
        DISTRO_FEATURES:append = " pantavisor-system "
        PANTAVISOR_FEATURES:append = " dm-crypt"
        PANTAVISOR_FEATURES:append = " dm-verity"
        PANTAVISOR_FEATURES:append = " autogrow"
        INITRAMFS_IMAGE = "pantavisor-initramfs"
    pantavisor-runc: |
        PANTAVISOR_FEATURES:append = " runc"
    pantavisor-tailscale: |
        PANTAVISOR_FEATURES:append = " tailscale"
    pantavisor-debug: |
        PANTAVISOR_FEATURES:append = " debug"
    __menu_config_locals: ''
    __menu_config_vars: |-
        PVROOT_IMAGE = "yes"
        PVROOT_IMAGE_BSP = "core-image-base"
        EXTRA_IMAGE_FEATURES:append = " debug-tweaks"
        INHERIT += "rm_work"
bblayers_conf_header:
    platform-nxp: |
        BBMASK += "meta-imx/meta-bsp/recipes-bsp/firmware-imx/firmware-imx.*"
        BBMASK += "meta-imx/meta-imx-bsp/recipes-bsp/firmware-imx/firmware-imx.*"
machine: imx8qxp-b0-mek
defaults:
    repos:
        branch: scarthgap
target:
- pantavisor-starter
build_system: oe
distro: panta-distro
env:
    PVROOT_IMAGE_BSP:
    PV_BOOT_OEMARGS:
