header:
    version: 16
_source_dir: .
repos:
    meta-freescale:
        commit: b70cec85b6a1a9cad70251623dc17e34f426cdf9
        path: layers/meta-freescale
        url: https://github.com/Freescale/meta-freescale.git
    meta-freescale-3rdparty:
        commit: 6c063450d464eb2f380443c7d9af1b94ce9b9d75
        path: layers/meta-freescale-3rdparty
        url: https://github.com/Freescale/meta-freescale-3rdparty.git
    meta-freescale-distro:
        commit: b9d6a5d9931922558046d230c1f5f4ef6ee72345
        path: layers/meta-freescale-distro
        url: https://github.com/Freescale/meta-freescale-distro.git
    meta-openembedded:
        layers:
            meta-multimedia:
            meta-filesystems:
            meta-networking:
            meta-oe:
            meta-python:
        url: https://github.com/openembedded/meta-openembedded.git
        path: layers/meta-openembedded
        commit: 735ae0310870ffce07ce0c55c4f87c20ac161ff9
    meta-imx:
        url: https://github.com/nxp-imx/meta-imx.git
        path: layers/meta-imx
        branch: scarthgap-6.6.23-2.0.0
        patches:
            u-boot-deploy-fix:
                path: patches/meta-imx/0001-u-boot-imx-Take-patch-from-meta-freescale-to-fix-bui.patch
                repo: meta-pantavisor
        layers:
            meta-imx-bsp:
            meta-imx-ml:
            meta-imx-sdk:
        commit: 239073c47124f41f46581871afbde643f48d6a3b
    meta-arm:
        commit: 950a4afce46a359def2958bd9ae33fc08ff9bb0d
        layers:
            meta-arm:
            meta-arm-toolchain:
        path: layers/meta-arm
        url: git://git.yoctoproject.org/meta-arm
    meta-pantavisor:
    poky:
        url: https://github.com/yoctoproject/poky.git
        path: layers/poky
        layers:
            meta:
            meta-poky:
        patches:
            fit-image-multiconfig:
                path: patches/poky/0001-fit-image-multiconfig.scarthgap.patch
                repo: meta-pantavisor
        commit: c799f73a47fa35d6059456291328f7ff10fdb273
    meta-virtualization:
        commit: e5878c864aacd24fe8f09ab7221f0ada13cd22d3
        path: layers/meta-virtualization
        url: git://git.yoctoproject.org/meta-virtualization
local_conf_header:
    platform-freescale: |
        ACCEPT_FSL_EULA = "1"
    platform-nxp: |
        PV_UBOOT_AUTOFDT = "1"
        PV_UBOOT_FLATFDT = "1"
        VIRTUAL-RUNTIME_initscripts = "initscripts-pv"
        EXTRA_IMAGE_FEATURES = "debug-tweaks"
        PANTAVISOR_MACHINE_FIRMWARE = ""
        PANTAVISOR_MACHINE_KERNEL_MODULES = ""
        PREFERRED_PROVIDER_virtual/kernel = "linux-imx"
    rm_work: |
        INHERIT += "rm_work"
    panta-base: |
        TMPDIR = "${TOPDIR}/tmp-${DISTRO_CODENAME}"
    panta-busybox: |
        PREFERRED_VERSION_busybox = "1.36~pv.%"
    panta-mbedtls: |
        PREFERRED_VERSION_mbedtls = "2.28.%"
    pantavisor-system: |
        DISTRO_FEATURES:append = " pantavisor-system "
        PANTAVISOR_FEATURES:append = " dm-crypt"
        PANTAVISOR_FEATURES:append = " dm-verity"
        INITRAMFS_IMAGE = "pantavisor-initramfs"
    pantavisor-remix: |
        IMAGE_CLASSES:append = " image-pvrexport"
    __menu_config_locals: ''
    __menu_config_vars: |-
        PVROOT_IMAGE = "yes"
        PVROOT_IMAGE_BSP = "core-image-base"
        EXTRA_IMAGE_FEATURES:append = " debug-tweaks"
        INHERIT += "rm_work"
    __voldirs: |-
        SSTATE_DIR="/shared/sstate"
        DL_DIR="/shared/dldir"
bblayers_conf_header:
    platform-nxp: |
        BBMASK += "meta-imx/meta-bsp/recipes-bsp/firmware-imx/firmware-imx.*"
        BBMASK += "meta-imx/meta-imx-bsp/recipes-bsp/firmware-imx/firmware-imx.*"
machine: imx8qxp-mek
target:
- pantavisor-remix
build_system: oe
env:
    PVROOT_IMAGE_BSP:
    PV_BOOT_OEMARGS:
defaults:
    repos:
        branch: scarthgap
