header:
    version: 16
_source_dir: .
repos:
    meta-rockchip:
        commit: b859ece2fa1de96ac65f88a3deb30ecbcd118d90
        patches:
            wks-root-label:
                path: patches/meta-rockchip-radxa/0001-wic-Fix-root-label.patch
                repo: meta-pantavisor
        path: layers/meta-rockchip-radxa
        url: https://github.com/radxa/meta-rockchip.git
    meta-arm:
        commit: a81c19915b5b9e71ed394032e9a50fd06919e1cd
        layers:
            meta-arm:
            meta-arm-toolchain:
        path: layers/meta-arm
        url: git://git.yoctoproject.org/meta-arm
    poky:
        patches:
            fit-image-multiconfig:
                path: patches/poky/0001-fit-image-multiconfig.scarthgap.patch
                repo: meta-pantavisor
            update-rc-initscripts:
                path: patches/poky/update-rc.patch
                repo: meta-pantavisor
        url: https://github.com/yoctoproject/poky.git
        path: layers/poky
        layers:
            meta:
            meta-poky:
        commit: 72983ac391008ebceb45edc7a8f0f6d5f4fe715c
    meta-pantavisor:
    meta-virtualization:
        commit: f92518e20530edfebca45e4170e11460949a5303
        path: layers/meta-virtualization
        url: git://git.yoctoproject.org/meta-virtualization
    meta-openembedded:
        commit: 2b26d30fc7f478f5735d514f0c1bc28f6a4148b6
        layers:
            meta-filesystems:
            meta-networking:
            meta-oe:
            meta-python:
        path: layers/meta-openembedded
        url: https://github.com/openembedded/meta-openembedded.git
local_conf_header:
    platform-rockchip: |
        PV_UBOOT_AUTOFDT = "1"
        # keep rockchip prefix in dtb
        # otherwise fit configuration doesn't fit
        # with fdtfile varible and board won't boot
        KERNEL_DTBVENDORED = "1"
    rm_work: |
        INHERIT += "rm_work"
    package_management: |
        PACKAGE_CLASSES = "package_rpm"
    panta-base: |
        TMPDIR = "${TOPDIR}/tmp-${DISTRO_CODENAME}"
    pantavisor-system: |
        DISTRO_FEATURES:append = " pantavisor-system "
        PANTAVISOR_FEATURES:append = " dm-crypt"
        PANTAVISOR_FEATURES:append = " dm-verity"
        PANTAVISOR_FEATURES:append = " autogrow"
        INITRAMFS_IMAGE = "pantavisor-initramfs"
    pantavisor-runc: |
        PANTAVISOR_FEATURES:append = " runc"
    pantavisor-tailscale: |
        PANTAVISOR_FEATURES:append = " tailscale"
    pantavisor-debug: |
        PANTAVISOR_FEATURES:append = " debug"
    __menu_config_locals: ''
    __menu_config_vars: |-
        EXTRA_IMAGE_FEATURES:append = " debug-tweaks"
        INHERIT += "rm_work"
machine: rock-5a
defaults:
    repos:
        branch: scarthgap
target:
- pantavisor-starter
build_system: oe
distro: panta-distro
env:
    PVROOT_IMAGE_BSP:
    PV_BOOT_OEMARGS:
