header:
    version: 16
_source_dir: .
repos:
    meta-raspberrypi:
        commit: 6df7e028a2b7b2d8cab0745dc0ed2eebc3742a17
        patches:
            uboot-env:
                path: patches/meta-raspberrypi/0001-fix-conflicting-boot.scr-from-of-u-boot-and-u-boot-d.patch
                repo: meta-pantavisor
        path: layers/meta-raspberrypi
        url: https://github.com/agherzan/meta-raspberrypi
    meta-qt5:
        commit: eb828418264a49b8d00035cb3d7b12fcea3be801
        path: layers/meta-qt5
        url: https://github.com/meta-qt5/meta-qt5/
    meta-pantavisor:
    poky:
        url: https://github.com/yoctoproject/poky.git
        path: layers/poky
        layers:
            meta:
            meta-poky:
        patches:
            fit-image-multiconfig:
                path: patches/poky/0001-fit-image-multiconfig.scarthgap.patch
                repo: meta-pantavisor
        commit: c799f73a47fa35d6059456291328f7ff10fdb273
    meta-virtualization:
        commit: 6f3c1d8f90947408a6587be222fec575a1ca5195
        path: layers/meta-virtualization
        url: git://git.yoctoproject.org/meta-virtualization
    meta-openembedded:
        commit: 72018ca1b1a471226917e8246e8bbf9a374ccf97
        layers:
            meta-filesystems:
            meta-networking:
            meta-oe:
            meta-python:
        path: layers/meta-openembedded
        url: https://github.com/openembedded/meta-openembedded.git
local_conf_header:
    platform-raspberrypi: |
        LICENSE_FLAGS_ACCEPTED += "synaptics-killswitch"
        RPI_USE_U_BOOT = "1"
        ENABLE_UART = "1"
    rm_work: |
        INHERIT += "rm_work"
    panta-base: |
        TMPDIR = "${TOPDIR}/tmp-${DISTRO_CODENAME}"
    panta-busybox: |
        PREFERRED_VERSION_busybox = "1.36~pv.%"
    panta-mbedtls: |
        PREFERRED_VERSION_mbedtls = "2.28.%"
    pantavisor-system: |
        DISTRO_FEATURES:append = " pantavisor-system "
        PANTAVISOR_FEATURES:append = " dm-crypt"
        PANTAVISOR_FEATURES:append = " dm-verity"
        PANTAVISOR_FEATURES:append = " autogrow"
        INITRAMFS_IMAGE = "pantavisor-initramfs"
    pantavisor-remix: |
        IMAGE_CLASSES:append = " image-pvrexport"
    __menu_config_locals: ''
    __menu_config_vars: |-
        PVROOT_IMAGE = "yes"
        PVROOT_IMAGE_BSP = "core-image-base"
        EXTRA_IMAGE_FEATURES:append = " debug-tweaks"
        INHERIT += "rm_work"
    __voldirs: |-
        SSTATE_DIR="/shared/sstate"
        DL_DIR="/shared/dldir"
machine: raspberrypi-armv8
target:
- pantavisor-remix
build_system: oe
distro: panta-distro
env:
    PVROOT_IMAGE_BSP:
    PV_BOOT_OEMARGS:
defaults:
    repos:
        branch: scarthgap
