header:
    version: 16
_source_dir: .
repos:
    meta-raspberrypi:
        commit: 255500dd9f6a01a3445ac491d1abc401801e3bad
        patches:
            uboot-env:
                path: patches/meta-raspberrypi/0001-fix-conflicting-boot.scr-from-of-u-boot-and-u-boot-d.patch
                repo: meta-pantavisor
        path: layers/meta-raspberrypi
        url: https://github.com/agherzan/meta-raspberrypi
    meta-qt5:
        commit: 644ebf220245bdc06e7696ccc90acc97a0dd2566
        path: layers/meta-qt5
        url: https://github.com/meta-qt5/meta-qt5/
    meta-pantavisor:
    poky:
        url: https://github.com/yoctoproject/poky.git
        path: layers/poky
        layers:
            meta:
            meta-poky:
        patches:
            fit-image-multiconfig:
                path: patches/poky/0001-fit-image-multiconfig.patch
                repo: meta-pantavisor
        commit: 04b39e5b7eb19498215d85c88a5fffb460fea1eb
    meta-virtualization:
        commit: 16155ae737d96f0f53721ad7270c3fe19729d496
        path: layers/meta-virtualization
        url: git://git.yoctoproject.org/meta-virtualization
    meta-openembedded:
        commit: 96fbc156364fd78530d2bfbe1b8a77789f52997d
        layers:
            meta-filesystems:
            meta-networking:
            meta-oe:
            meta-python:
        path: layers/meta-openembedded
        url: https://github.com/openembedded/meta-openembedded.git
local_conf_header:
    platform-raspberrypi: |
        LICENSE_FLAGS_ACCEPTED += "synaptics-killswitch"
        RPI_USE_U_BOOT = "1"
        ENABLE_UART = "1"
    rm_work: |
        INHERIT += "rm_work"
    package_management: |
        PACKAGE_CLASSES = "package_rpm"
    panta-base: |
        TMPDIR = "${TOPDIR}/tmp-${DISTRO_CODENAME}"
    pantavisor-system: |
        DISTRO_FEATURES:append = " pantavisor-system "
        PANTAVISOR_FEATURES:append = " dm-crypt"
        PANTAVISOR_FEATURES:append = " dm-verity"
        PANTAVISOR_FEATURES:append = " autogrow"
        INITRAMFS_IMAGE = "pantavisor-initramfs"
    pantavisor-runc: |
        PANTAVISOR_FEATURES:append = " runc"
    pantavisor-tailscale: |
        PANTAVISOR_FEATURES:append = " tailscale"
    pantavisor-debug: |
        PANTAVISOR_FEATURES:append = " debug"
    __menu_config_locals: ''
    __menu_config_vars: |-
        PVROOT_IMAGE = "yes"
        PVROOT_IMAGE_BSP = "core-image-base"
        EXTRA_IMAGE_FEATURES:append = " debug-tweaks"
        INHERIT += "rm_work"
machine: raspberrypi-armv8
target:
- pantavisor-remix
build_system: oe
distro: panta-distro
env:
    PVROOT_IMAGE_BSP:
    PV_BOOT_OEMARGS:
defaults:
    repos:
        branch: kirkstone
