header:
    version: 16
_source_dir: .
repos:
    meta-raspberrypi:
        commit: 2c646d29912dcc873469a57b1c207e1549c5094d
        patches:
            uboot-env:
                path: patches/meta-raspberrypi/0001-fix-conflicting-boot.scr-from-of-u-boot-and-u-boot-d.patch
                repo: meta-pantavisor
        path: layers/meta-raspberrypi
        url: https://github.com/agherzan/meta-raspberrypi
    meta-qt5:
        commit: 9ae2fe2696b10f5dc4253c4f467dc388139860bd
        path: layers/meta-qt5
        url: https://github.com/meta-qt5/meta-qt5/
    poky:
        patches:
            fit-image-multiconfig:
                path: patches/poky/0001-fit-image-multiconfig.scarthgap.patch
                repo: meta-pantavisor
            update-rc-initscripts:
                path: patches/poky/update-rc.patch
                repo: meta-pantavisor
        url: https://github.com/yoctoproject/poky.git
        path: layers/poky
        layers:
            meta:
            meta-poky:
        commit: 72983ac391008ebceb45edc7a8f0f6d5f4fe715c
    meta-pantavisor:
    meta-virtualization:
        commit: f92518e20530edfebca45e4170e11460949a5303
        path: layers/meta-virtualization
        url: git://git.yoctoproject.org/meta-virtualization
    meta-openembedded:
        commit: 2df869df1c3fa74103098bba65c06e55d0d3664a
        layers:
            meta-filesystems:
            meta-networking:
            meta-oe:
            meta-python:
        path: layers/meta-openembedded
        url: https://github.com/openembedded/meta-openembedded.git
    meta-clang:
        commit: 5c602337ea1a80fb7217eeda04e396cf90587dca
        path: layers/meta-clang
        url: https://github.com/kraj/meta-clang.git
local_conf_header:
    platform-raspberrypi: |
        LICENSE_FLAGS_ACCEPTED += "synaptics-killswitch"
        RPI_USE_U_BOOT = "1"
        ENABLE_UART = "1"
    rm_work: |
        INHERIT += "rm_work"
    package_management: |
        PACKAGE_CLASSES = "package_rpm"
    panta-base: |
        TMPDIR = "${TOPDIR}/tmp-${DISTRO_CODENAME}"
    pantavisor-system: |
        DISTRO_FEATURES:append = " pantavisor-system "
        PANTAVISOR_FEATURES:append = " dm-crypt"
        PANTAVISOR_FEATURES:append = " dm-verity"
        PANTAVISOR_FEATURES:append = " autogrow"
        INITRAMFS_IMAGE = "pantavisor-initramfs"
    pantavisor-tailscale: |
        PANTAVISOR_FEATURES:append = " tailscale"
    pantavisor-debug: |
        PANTAVISOR_FEATURES:append = " debug"
    __menu_config_locals: ''
    __menu_config_vars: |-
        EXTRA_IMAGE_FEATURES:append = " debug-tweaks"
        INHERIT += "rm_work"
machine: raspberrypi-armv8
defaults:
    repos:
        branch: scarthgap
target:
- pantavisor-starter
build_system: oe
distro: panta-distro
env:
    PVROOT_IMAGE_BSP:
    PV_BOOT_OEMARGS:
