header:
    version: 16
_source_dir: .
repos:
    meta-raspberrypi:
        commit: 2c646d29912dcc873469a57b1c207e1549c5094d
        patches:
            uboot-env:
                path: patches/meta-raspberrypi/0001-fix-conflicting-boot.scr-from-of-u-boot-and-u-boot-d.patch
                repo: meta-pantavisor
        path: layers/meta-raspberrypi
        url: https://github.com/agherzan/meta-raspberrypi
    meta-qt5:
        commit: a0a008a9cef4c24c6ad31d2d3b37995533eed2ea
        path: layers/meta-qt5
        url: https://github.com/meta-qt5/meta-qt5/
    poky:
        patches:
            fit-image-multiconfig:
                path: patches/poky/0001-fit-image-multiconfig.scarthgap.patch
                repo: meta-pantavisor
            update-rc-initscripts:
                path: patches/poky/update-rc.patch
                repo: meta-pantavisor
        url: https://github.com/yoctoproject/poky.git
        path: layers/poky
        layers:
            meta:
            meta-poky:
        commit: 1d54d1c4736a114e1cecbe85a0306e3814d5ce70
    meta-pantavisor:
    meta-virtualization:
        commit: 3dd635f613f7299d986a8ab6bc9f584370f8ed1d
        path: layers/meta-virtualization
        url: git://git.yoctoproject.org/meta-virtualization
    meta-openembedded:
        commit: ec0469748be4159fb83fb0fa0148d786484c88cf
        layers:
            meta-filesystems:
            meta-networking:
            meta-oe:
            meta-python:
        path: layers/meta-openembedded
        url: https://github.com/openembedded/meta-openembedded.git
local_conf_header:
    platform-raspberrypi: |
        LICENSE_FLAGS_ACCEPTED += "synaptics-killswitch"
        RPI_USE_U_BOOT = "1"
        ENABLE_UART = "1"
    multi: |
        BBMULTICONFIG = "rpi-kernel rpi-kernel7 rpi-kernel7l rpi-kernel8 rpi-kernel_2712"
    rpi-tryboot-system: |
        PANTAVISOR_FEATURES:append = " rpi-tryboot"
    rpi-pagesize-compat: |
        # RPi 5 kernel (kernel_2712) uses 16K page size. Align all ELF segments
        # to 64K so the same initramfs binaries work on 4K, 16K and 64K kernels.
        TARGET_LDFLAGS:append = " -Wl,-z,max-page-size=65536"
    rm_work: |
        INHERIT += "rm_work"
    package_management: |
        PACKAGE_CLASSES = "package_rpm"
    panta-base: |
        TMPDIR = "${TOPDIR}/tmp-${DISTRO_CODENAME}"
    pantavisor-system: |
        DISTRO_FEATURES:append = " pantavisor-system "
        PANTAVISOR_FEATURES:append = " dm-crypt"
        PANTAVISOR_FEATURES:append = " dm-verity"
        PANTAVISOR_FEATURES:append = " autogrow"
        INITRAMFS_IMAGE = "pantavisor-initramfs"
    pantavisor-runc: |
        PANTAVISOR_FEATURES:append = " runc"
    pantavisor-tailscale: |
        PANTAVISOR_FEATURES:append = " tailscale"
    pantavisor-debug: |
        PANTAVISOR_FEATURES:append = " debug"
    __menu_config_locals: ''
    __menu_config_vars: |-
        EXTRA_IMAGE_FEATURES:append = " debug-tweaks"
        INHERIT += "rm_work"
machine: raspberrypi
defaults:
    repos:
        branch: scarthgap
target:
- pantavisor-starter
build_system: oe
distro: panta-distro
env:
    PVROOT_IMAGE_BSP:
    PV_BOOT_OEMARGS:
