header:
    version: 16
_source_dir: .
repos:
    meta-sunxi:
        commit: 05827e296c2cb09043141b241153468deb4428d0
        patches:
            orange-pi-3lts:
                path: patches/meta-sunxi/0002-orange-pi-3lts-backport.patch
                repo: meta-pantavisor
            wks-root-label:
                path: patches/meta-sunxi/0001-wks-root-label.patch
                repo: meta-pantavisor
        path: layers/meta-sunxi
        url: https://github.com/linux-sunxi/meta-sunxi
    meta-arm:
        commit: 950a4afce46a359def2958bd9ae33fc08ff9bb0d
        layers:
            meta-arm:
            meta-arm-toolchain:
        path: layers/meta-arm
        url: git://git.yoctoproject.org/meta-arm
    meta-pantavisor:
    poky:
        url: https://github.com/yoctoproject/poky.git
        path: layers/poky
        layers:
            meta:
            meta-poky:
        patches:
            fit-image-multiconfig:
                path: patches/poky/0001-fit-image-multiconfig.scarthgap.patch
                repo: meta-pantavisor
        commit: c799f73a47fa35d6059456291328f7ff10fdb273
    meta-virtualization:
        commit: e5878c864aacd24fe8f09ab7221f0ada13cd22d3
        path: layers/meta-virtualization
        url: git://git.yoctoproject.org/meta-virtualization
    meta-openembedded:
        commit: 735ae0310870ffce07ce0c55c4f87c20ac161ff9
        layers:
            meta-filesystems:
            meta-networking:
            meta-oe:
            meta-python:
        path: layers/meta-openembedded
        url: https://github.com/openembedded/meta-openembedded.git
local_conf_header:
    platform-sunxi: |
        PV_UBOOT_AUTOFDT = "1"
    panta-base: |
        TMPDIR = "${TOPDIR}/tmp-${DISTRO_CODENAME}"
    panta-busybox: |
        PREFERRED_VERSION_busybox = "1.36~pv.%"
    panta-mbedtls: |
        PREFERRED_VERSION_mbedtls = "2.28.%"
    pantavisor-system: |
        DISTRO_FEATURES:append = " pantavisor-system "
        PANTAVISOR_FEATURES:append = " dm-crypt"
        PANTAVISOR_FEATURES:append = " dm-verity"
        INITRAMFS_IMAGE = "pantavisor-initramfs"
    pantavisor-remix: |
        IMAGE_CLASSES:append = " image-pvrexport"
    __menu_config_locals: ''
    __menu_config_vars: |-
        PVROOT_IMAGE = "yes"
        PVROOT_IMAGE_BSP = "core-image-base"
        EXTRA_IMAGE_FEATURES:append = " debug-tweaks"
        INHERIT += "rm_work"
    __voldirs: |-
        SSTATE_DIR="/shared/sstate"
        DL_DIR="/shared/dldir"
machine: orange-pi-r1
target:
- pantavisor-remix
build_system: oe
env:
    PVROOT_IMAGE_BSP:
    PV_BOOT_OEMARGS:
defaults:
    repos:
        branch: scarthgap
