system.init.mode=embedded
bootloader.type=uboot
storage.device=LABEL=root
storage.fstype=ext4
storage.opts=
wdt.enabled=1
log.level=4
log.server.outputs=filetree
secureboot.handlers=0
storage.mntpoint=/storage
dropbear.cache.dir=/storage/cache/dropbear
cache.usrmetadir=/storage/cache/usrmeta
cache.devmetadir=/storage/cache/devmeta
libthttp.certsdir=/certs
disk.voldir=/volumes
disk.exportsdir=/exports
disk.writabledir=/writable
log.dir=/storage/logs
debug.shell=1
