system.init.mode=appengine
bootloader.type=uboot
storage.device=LABEL=rootfs
storage.fstype=ext4
storage.opts=
wdt.enabled=0
log.level=4
log.server.outputs=filetree
secureboot.handlers=0
storage.mntpoint=/storage
system.libdir=/usr/lib/pv
system.etcdir=/etc
system.usrdir=/usr
system.rundir=/pv
system.mediadir=/media
system.confdir=/configs
dropbear.cache.dir=/storage/cache/dropbear
cache.usrmetadir=/storage/cache/usrmeta
cache.devmetadir=/storage/cache/devmeta
libthttp.certsdir=/certs
disk.voldir=/volumes
disk.exportsdir=/exports
disk.writabledir=/writable
log.dir=/storage/logs
debug.shell=1
