name: 'Build Pantavisor Starter Image'

on:
  workflow_call:
    inputs:
      machine_name:
        required: true
        type: string
      configs:
        required: true
        type: string

jobs:
  build:
    runs-on: ["self-hosted"]
    container:
      image: ghcr.io/pantacor/kas/kas:next-v7
      volumes:
        - shared:/shared
      options: --user root
    steps:
      - uses: actions/checkout@v4
      - name: chown
        run: chown -R builder:builder $RUNNER_WORKSPACE
      - name: chowna
        run: chown -R builder:builder /__w
      - name: shared
        run: mkdir -p /shared/sstate && chown builder:builder /shared/sstate && mkdir -p /shared/dldir && chown builder:builder /shared/dldir
      - name: getgit
        run: su - builder -c "cd $GITHUB_WORKSPACE && git fetch origin $GITHUB_SHA && git reset --hard $GITHUB_SHA && rm -rf build/ && git clean -f -f -d -x "
      - name: Build Kas
        run: su - builder -c "cd $GITHUB_WORKSPACE && env && kas build ${{ inputs.configs }} --target pantavisor-starter "
      - name: chmod
        run: chmod -R 777 $GITHUB_WORKSPACE
      - name: copy files
        run: |
          cp build/tmp-*/deploy/images/*/pantavisor-starter*.rootfs.wic* .
          cp build/tmp-*/deploy/images/*/*pvrexport.tgz .
      - name: Archive image artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pantavisor-starter-${{ inputs.machine_name }}
          path: |
            pantavisor-starter*.wic*

      - name: Archive pvrexport artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pvrexports-${{ inputs.machine_name }}
          path: |
            *pvrexport.tgz

