name: 'Build Pantavisor Starter Image'

on:
  workflow_call:
    inputs:
      machine_name:
        required: true
        type: string
      configs:
        required: true
        type: string
      build_target:
        required: false
        type: string
      output:
        required: false
        type: string

jobs:
  build:
    runs-on: ["self-hosted"]
    container:
      image: ghcr.io/pantacor/kas/kas:next-v7
      volumes:
        - shared:/shared
      options: --user root
    steps:
      - uses: actions/checkout@v4
      - name: setup workspace
        run: |
         chown -R builder:builder $RUNNER_WORKSPACE
         chown -R builder:builder /__w
         mkdir -p /shared/sstate && chown builder:builder /shared/sstate && mkdir -p /shared/dldir && chown builder:builder /shared/dldir
      - name: build
        run: |
         su - builder -c "cd $GITHUB_WORKSPACE && git fetch origin $GITHUB_SHA && git reset --hard $GITHUB_SHA && rm -rf build/ && git clean -f -f -d -x "
         su - builder -c "cd $GITHUB_WORKSPACE && env && kas build ${{ inputs.configs }} --target ${{ inputs.build_target }} "
         chmod -R 777 $GITHUB_WORKSPACE
         cp build/tmp-*/deploy/images/*/${{ inputs.output }} .
         find build/tmp-*/deploy/images/ -name "*pvrexport.tgz" -exec cp {} . \; 2>/dev/null || true

      - name: Archive image artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.build_target}}-${{ inputs.machine_name }}
          path: |
            ${{ inputs.output }}

      - name: Archive pvrexport artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pvrexports-${{ inputs.machine_name }}
          path: |
            *pvrexport.tgz
          if-no-files-found: warn

      - name: Upload to S3
        run: |
          .github/scripts/upload.sh \
           ${{ secrets.AWS_ACCESS_KEY_ID }} \
           ${{ secrets.AWS_SECRET_ACCESS_KEY }} \
           ${{ secrets.AWS_S3_BUCKET }} \
           ${{ github.ref_name }} \
           ${{ inputs.machine_name }} \
           ${{ inputs.output }} \