name: 'Build Pantavisor Starter Image'

on:
  workflow_call:
    inputs:
      machine_name:
        required: true
        type: string
      configs:
        required: true
        type: string


jobs:
  build:
    runs-on: ["self-hosted"]
    container:
      image: ghcr.io/pantacor/kas/kas:next-v7
      volumes:
        - shared:/shared
      options: --user root
    steps:
      - uses: actions/checkout@v4
      - name: chown
        run: chown -R builder:builder $RUNNER_WORKSPACE
      - name: chowna
        run: chown -R builder:builder /__w
      - name: shared
        run: mkdir -p /shared/sstate && chown builder:builder /shared/sstate && mkdir -p /shared/dldir && chown builder:builder /shared/dldir
      - name: getgit
        run: su - builder -c "cd $GITHUB_WORKSPACE && git fetch origin $GITHUB_SHA && git reset --hard $GITHUB_SHA && rm -rf build/ && git clean -f -f -d -x "
      - name: Build Kas
        run: su - builder -c "cd $GITHUB_WORKSPACE && env && kas build ${{ inputs.configs }} --target pantavisor-starter "
      - name: chmod
        run: chmod -R 777 $GITHUB_WORKSPACE
      - name: copy files
        run: |
          cp build/tmp-*/deploy/images/*/pantavisor-starter*.rootfs.wic* .
          cp build/tmp-*/deploy/images/*/*pvrexport.tgz .
      - name: Archive image artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pantavisor-starter-${{ inputs.machine_name }}
          path: |
            pantavisor-starter*.wic*

      - name: Archive pvrexport artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pvrexports-${{ inputs.machine_name }}
          path: |
            *pvrexport.tgz

      - name: Upload to S3
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}

          tarname="${{ inputs.machine_name }}-pantavisor-starter.tar.gz"
          s3folder="test"
          s3path="$s3folder/${{ inputs.machine_name }}"

          tar -czf "$tarname" pantavisor-starter*.wic*
          CHECKSUM=$(sha256sum "$tarname" | cut -d' ' -f1)

          aws s3 cp "$tarname" s3://${{ secrets.AWS_S3_BUCKET }}/$s3path/

          jq -n \
          --arg device_name "${{ inputs.machine_name }}" \
          --arg url "https://pantavisor-ci.s3.amazonaws.com/meta-pantavisor/$s3path/$tarname" \
          --arg checksum "$CHECKSUM" \
          '{
             "devices": [
             {
               "device_name": $device_name,
               "images": [
                {
                 "url": $url,
                 "checksum": $checksum
                }
              ]
            }
           ]
          }' > devices.json
          aws s3 cp devices.json s3://${{ secrets.AWS_S3_BUCKET }}/$s3folder/
