name: 'Build On Push'

on:
  push:
    paths:
      - '**'
      - '.github/configs/**"
      - '!.github/scripts/**'
      - '!.github/workflows/updatemachines.yaml'

jobs:
  build-sunxi-orange-pi-3lts-scarthgap:
    uses: ./.github/workflows/buildkas.yaml
    with:
      configs: .github/configs/release/sunxi-orange-pi-3lts-scarthgap.yaml
      name: sunxi-orange-pi-3lts-scarthgap
  build-sunxi-orange-pi-r1-scarthgap:
    uses: ./.github/workflows/buildkas.yaml
    with:
      configs: .github/configs/release/sunxi-orange-pi-r1-scarthgap.yaml
      name: sunxi-orange-pi-r1-scarthgap
  build-sunxi-nanopi-r1-scarthgap:
    uses: ./.github/workflows/buildkas.yaml
    with:
      configs: .github/configs/release/sunxi-nanopi-r1-scarthgap.yaml
      name: sunxi-nanopi-r1-scarthgap
  build-imx8qxp-mek-scarthgap:
    uses: ./.github/workflows/buildkas.yaml
    with:
      configs: .github/configs/release/imx8qxp-mek-scarthgap.yaml
      name: imx8qxp-mek-scarthgap
  build-raspberrypi-armv8-scarthgap:
    uses: ./.github/workflows/buildkas.yaml
    with:
      configs: .github/configs/release/raspberrypi-armv8-scarthgap.yaml
      name: raspberrypi-armv8-scarthgap
