name: Release Changelog

on:
  push:
    tags:
      - '0*'
      - '*-rc*'

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate Changelog
        run: |
          .github/scripts/generate-changelog.sh ${{ github.ref_name }} > changelog.md

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: changelog.md
          append_body: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
