name: 'schedule: update machines'

on:
  workflow_dispatch:
  schedule:
    - cron: "15 */8 * * *"
  push:
    paths:
      - .github/scripts/**
      - .github/workflows/updatemachines.yaml
    branches:
      - master

jobs:
  updaterelease:
    runs-on: ["self-hosted"]
    container:
      image: ghcr.io/pantacor/kas/kas:next-v7
      volumes:
        - shared:/shared
      options: --user root
    steps:
      - uses: actions/checkout@v4
      - run: ls .github/scripts
      - run: pwd
      - run: git config --global --add safe.directory $GITHUB_WORKSPACE
      - run: .github/scripts/makemachines
      - run: git config --global user.email "pantavisor-meta@ci.pantavisor.io"
      - run: git config --global user.name "Pantavisor Meta Layer CI"
      - run: git checkout -b autopr/machine-update-$GITHUB_REF_NAME-next
      - name: make PR
        if: github.ref_name == 'master'
        run: .github/scripts/makecommit && git push origin -f autopr/machine-update-$GITHUB_REF_NAME-next && gh pr create --base $GITHUB_REF_NAME --fill 2>&1 | grep github.com.*pull || true
        env:
          GH_TOKEN: ${{ github.token }}